<!DOCTYPE html>
<html>
  <body>
    <h2>Thank you for contacting David Kinney Jr</h2>
    
    <p>Dear <%= @name %>,</p>
    
    <p>Thank you for your message. I have received your inquiry and will get back to you as soon as possible.</p>
    
    <p>For reference, here is a copy of your message:</p>
    <blockquote>
      <%= @message %>
    </blockquote>
    
    <p>Best regards,<br>David Kinney Jr</p>
  </body>
</html> 